<?xml version='1.0' encoding='utf-8'?>
<widget id="lje.app" version="1.0.0">
  <name>LJE</name>
  <description>
    Näyttää sinulle Lotolle, Jokerille ja Eurojackpotille hyviä rivejä
  </description>
  <author email="joona.koukkari2@edu.vaasa.fi" href="http://vamia.fi">
    JK
  </author>
</widget>
